Source: apertium-dzo-eng
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.9.12),
               apertium-dzo,
               apertium-eng,
               apertium-lex-tools-dev (>= 0.5.0),
               apertium-recursive (>= 1.2.1),
               cg3-dev (>= 1.5.1),
               debhelper (>= 12),
               gawk,
               hfst (>= 3.16.0),
               libhfst-dev (>= 3.16.0),
               pkg-config
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-dzo-eng.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-dzo-eng
Rules-Requires-Root: no

Package: apertium-dzo-eng
Architecture: all
Depends: apertium (>= 3.9.12),
         apertium-lex-tools (>= 0.5.0),
         apertium-recursive (>= 1.2.1),
         cg3 (>= 1.5.1),
         hfst (>= 3.16.0),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-eng-dzo
Conflicts: apertium-eng-dzo
Description: Apertium translation data for the Dzongkha-English pair
 Data package providing Apertium language resources for translating
 between the Dzongkha and English languages.
