Source: apertium-por-ina
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.1),
               apertium-ina,
               apertium-lex-tools-dev (>= 0.3.1),
               apertium-por,
               cg3-dev (>= 1.3.6),
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.6.0.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-por-ina.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-por-ina
Rules-Requires-Root: no

Package: apertium-por-ina
Architecture: all
Depends: apertium (>= 3.8.1),
         apertium-lex-tools (>= 0.3.1),
         cg3 (>= 1.3.6),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-ina-por
Conflicts: apertium-ina-por
Description: Apertium translation data for the Portuguese-Interlingua (International Auxiliary Language Association) pair
 Data package providing Apertium language resources for translating
 between the Portuguese and Interlingua (International Auxiliary Language Association) languages.
