Source: apertium-urd-hin
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               apertium-hin,
               apertium-lex-tools,
               apertium-urd,
               autotools-dev,
               cg3,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               pkg-config (>= 0.21)
Standards-Version: 3.9.8
Homepage: http://apertium.org/
Vcs-Git: https://anonscm.debian.org/cgit/debian-science/packages/apertium-urd-hin.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-urd-hin.git

Package: apertium-urd-hin
Architecture: all
Depends: apertium (>= 3.4),
         apertium-lex-tools,
         cg3,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-hin-urd
Conflicts: apertium-hin-urd
Description: Apertium translation data for the Urdu-Hindi pair
 Data package providing Apertium language resources for translating
 between the Urdu and Hindi languages.
