Source: apertium-qaa-qbb
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.0),
               apertium-lex-tools,
               apertium-qaa,
               apertium-qbb,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-qaa-qbb.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-qaa-qbb
Rules-Requires-Root: no

Package: apertium-qaa-qbb
Architecture: all
Depends: apertium (>= 3.7.0),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-qbb-qaa
Conflicts: apertium-qbb-qaa
Description: Apertium translation data for the LANG1-LANG2 pair
 Data package providing Apertium language resources for translating
 between the LANG1 and LANG2 languages.
