Source: apertium-qaa-qbb
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.9.12),
               apertium-lex-tools (>= 0.5.0),
               apertium-qaa,
               apertium-qbb,
               cg3-dev (>= 1.5.1),
               debhelper (>= 12),
               gawk,
               hfst (>= 3.16.0),
               pkg-config
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-qaa-qbb.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-qaa-qbb
Rules-Requires-Root: no

Package: apertium-qaa-qbb
Architecture: all
Depends: apertium (>= 3.9.12),
         apertium-lex-tools (>= 0.5.0),
         cg3 (>= 1.5.1),
         hfst (>= 3.16.0),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-qbb-qaa
Conflicts: apertium-qbb-qaa
Description: Apertium translation data for the LANG1-LANG2 pair
 Data package providing Apertium language resources for translating
 between the LANG1 and LANG2 languages.
