Source: apertium-pt-gl
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               locales,
               pkg-config (>= 0.21)
Standards-Version: 3.9.6
Homepage: http://apertium.org/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium-pt-gl.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-pt-gl.git

Package: apertium-pt-gl
Architecture: all
Depends: apertium (>= 3.4), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-gl-pt
Conflicts: apertium-gl-pt
Description: Apertium translation data for the Portuguese-Galician pair
 Data package providing Apertium language resources for translating
 between the Portuguese and Galician languages.
