Source: apertium-simpleton
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: debhelper (>= 9.0), qt5-default, qt5-qmake, qtbase5-dev
Standards-Version: 4.6.0.1

Package: apertium-simpleton
Architecture: any
Depends: apertium (>= 3.8.1),
         apertium-anaphora (>= 1.1.0),
         apertium-lex-tools (>= 0.3.1),
         apertium-recursive (>= 1.1.0),
         apertium-separable (>= 0.5.0),
         binutils,
         cg3 (>= 1.3.6),
         hfst (>= 3.16.0),
         lttoolbox (>= 3.6.0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Minimal GUI for Apertium
 Minimal GUI for Apertium translations.
