Source: apertium-kaz-rus
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               apertium-kaz,
               apertium-lex-tools,
               apertium-rus,
               autotools-dev,
               cg3,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               hfst,
               pkg-config (>= 0.21)
Standards-Version: 4.0.0
Homepage: http://apertium.org/
Vcs-Git: https://anonscm.debian.org/cgit/debian-science/packages/apertium-kaz-rus.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-kaz-rus.git

Package: apertium-kaz-rus
Architecture: all
Depends: apertium (>= 3.4),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-rus-kaz
Conflicts: apertium-rus-kaz
Description: Apertium translation data for the Kazakh-Russian pair
 Data package providing Apertium language resources for translating
 between the Kazakh and Russian languages.
