Source: apertium-ota
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               hfst-ospell-dev,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-ota.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-ota
Rules-Requires-Root: no

Package: apertium-ota
Architecture: all
Depends: apertium (>= 3.6.0), cg3, hfst, ${misc:Depends}, ${shlibs:Depends}
Description: Apertium single language data for Ottoman Turkish (1500-1928)
 Data package providing Apertium language resources for Ottoman Turkish (1500-1928)
