Source: apertium-spa-qve
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.1),
               apertium-lex-tools,
               apertium-qve,
               apertium-spa,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-spa-qve.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-spa-qve
Rules-Requires-Root: no

Package: apertium-spa-qve
Architecture: all
Depends: apertium (>= 3.7.1),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-qve-spa
Conflicts: apertium-qve-spa
Description: Apertium translation data for the Spanish-Eastern Apurímac Quechua pair
 Data package providing Apertium language resources for translating
 between the Spanish and Eastern Apurímac Quechua languages.
