Source: apertium-ina-spa
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.1),
               apertium-ina,
               apertium-lex-tools-dev (>= 0.3.1),
               apertium-spa,
               cg3-dev (>= 1.3.6),
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.6.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-ina-spa.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-ina-spa
Rules-Requires-Root: no

Package: apertium-ina-spa
Architecture: all
Depends: apertium (>= 3.8.1),
         apertium-lex-tools (>= 0.3.1),
         cg3 (>= 1.3.6),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-spa-ina
Conflicts: apertium-spa-ina
Description: Apertium translation data for the Interlingua (International Auxiliary Language Association)-Spanish pair
 Data package providing Apertium language resources for translating
 between the Interlingua (International Auxiliary Language Association) and Spanish languages.
