Source: apertium-es-pt
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               pkg-config (>= 0.21)
Standards-Version: 4.1.4
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-es-pt.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-es-pt.git

Package: apertium-es-pt
Architecture: all
Depends: apertium (>= 3.4), ${misc:Depends}, ${shlibs:Depends}
Provides:, apertium-pt-es, apertium-por-spa, apertium-spa-por
Conflicts:, apertium-pt-es, apertium-por-spa, apertium-spa-por
Description: Apertium translation data for the Spanish-Portuguese pair
 Data package providing Apertium language resources for translating
 between the Spanish and Portuguese languages.
