Source: apertium-la-es
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.1), debhelper (>= 12), gawk, pkg-config
Standards-Version: 4.6.0.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-la-es.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-la-es
Rules-Requires-Root: no

Package: apertium-la-es
Architecture: all
Depends: apertium (>= 3.8.1), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-es-la
Conflicts: apertium-es-la
Description: Apertium translation data for the Latin-Spanish pair
 Data package providing Apertium language resources for translating
 between the Latin and Spanish languages.
