Source: apertium-fao-dan
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dan,
               apertium-dev (>= 3.7.0),
               apertium-fao,
               apertium-lex-tools,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-fao-dan.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-fao-dan
Rules-Requires-Root: no

Package: apertium-fao-dan
Architecture: all
Depends: apertium (>= 3.7.0),
         apertium-lex-tools,
         cg3,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-dan-fao
Conflicts: apertium-dan-fao
Description: Apertium translation data for the Faroese-Danish pair
 Data package providing Apertium language resources for translating
 between the Faroese and Danish languages.
