Source: apertium-quz
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.1),
               cg3-dev (>= 1.3.6),
               debhelper (>= 12),
               gawk,
               hfst (>= 3.16.0),
               hfst-ospell-dev (>= 0.5.3),
               pkg-config
Standards-Version: 4.6.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-quz.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-quz
Rules-Requires-Root: no

Package: apertium-quz
Architecture: all
Depends: apertium (>= 3.8.1),
         cg3 (>= 1.3.6),
         hfst (>= 3.16.0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Apertium single language data for Cusco Quechua
 Data package providing Apertium language resources for Cusco Quechua
