Source: apertium-cat
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               cg3-dev,
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.4.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-cat.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-cat

Package: apertium-cat
Architecture: all
Depends: apertium (>= 3.6.0), cg3, ${misc:Depends}, ${shlibs:Depends}
Description: Apertium single language data for Catalan
 Data package providing Apertium language resources for Catalan
