Source: apertium-eng-cat
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-anaphora (>= 1.1.1),
               apertium-cat (>= 2.8.0),
               apertium-dev (>= 3.9.12),
               apertium-eng (>= 0.1.0),
               apertium-lex-tools-dev (>= 0.5.0),
               apertium-separable (>= 0.7.1),
               cg3-dev (>= 1.5.1),
               debhelper (>= 12),
               gawk,
               pkg-config,
               python3
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-eng-cat.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-eng-cat
Rules-Requires-Root: no

Package: apertium-eng-cat
Architecture: all
Depends: apertium (>= 3.9.12),
         apertium-anaphora (>= 1.1.1),
         apertium-lex-tools (>= 0.5.0),
         apertium-separable (>= 0.7.1),
         cg3 (>= 1.5.1),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-cat-eng
Conflicts: apertium-cat-eng
Description: Apertium translation data for the English-Catalan pair
 Data package providing Apertium language resources for translating
 between the English and Catalan languages.

Package: apertium-en-ca
Architecture: all
Depends: apertium-eng-cat (= ${binary:Version}), ${misc:Depends}
Section: oldlibs
Provides: apertium-ca-en
Description: Transitional dummy package for apertium-eng-cat
 This is a transitional dummy package. It can safely be removed.
