Source: apertium-pt-gl
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.5.2),
               debhelper (>= 11),
               gawk,
               pkg-config (>= 0.21)
Standards-Version: 4.3.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-pt-gl.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-pt-gl.git

Package: apertium-pt-gl
Architecture: all
Depends: apertium (>= 3.5.2), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-gl-pt, apertium-glg-por, apertium-por-glg
Conflicts: apertium-gl-pt, apertium-glg-por, apertium-por-glg
Description: Apertium translation data for the Portuguese-Galician pair
 Data package providing Apertium language resources for translating
 between the Portuguese and Galician languages.
