Source: apertium-chv-tat
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-chv,
               apertium-dev (>= 3.9.12),
               apertium-lex-tools-dev (>= 0.5.0),
               apertium-tat,
               cg3-dev (>= 1.5.1),
               debhelper (>= 12),
               gawk,
               hfst (>= 3.16.0),
               pkg-config
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-chv-tat.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-chv-tat
Rules-Requires-Root: no

Package: apertium-chv-tat
Architecture: all
Depends: apertium (>= 3.9.12),
         apertium-lex-tools (>= 0.5.0),
         cg3 (>= 1.5.1),
         hfst (>= 3.16.0),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-tat-chv
Conflicts: apertium-tat-chv
Description: Apertium translation data for the Chuvash-Tatar pair
 Data package providing Apertium language resources for translating
 between the Chuvash and Tatar languages.
