Source: apertium-byv-fra
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-byv,
               apertium-dev (>= 3.7.1),
               apertium-fra,
               apertium-lex-tools,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-byv-fra.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-byv-fra
Rules-Requires-Root: no

Package: apertium-byv-fra
Architecture: all
Depends: apertium (>= 3.7.1),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-fra-byv
Conflicts: apertium-fra-byv
Description: Apertium translation data for the Medumba-French pair
 Data package providing Apertium language resources for translating
 between the Medumba and French languages.
