Source: apertium-byv-fra
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-byv,
               apertium-dev (>= 3.8.1),
               apertium-fra,
               apertium-lex-tools-dev (>= 0.4.1),
               cg3-dev (>= 1.3.6),
               debhelper (>= 12),
               gawk,
               hfst (>= 3.16.0),
               pkg-config
Standards-Version: 4.6.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-byv-fra.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-byv-fra
Rules-Requires-Root: no

Package: apertium-byv-fra
Architecture: all
Depends: apertium (>= 3.8.1),
         apertium-lex-tools (>= 0.4.1),
         cg3 (>= 1.3.6),
         hfst (>= 3.16.0),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-fra-byv
Conflicts: apertium-fra-byv
Description: Apertium translation data for the Medumba-French pair
 Data package providing Apertium language resources for translating
 between the Medumba and French languages.
