Source: cg3ide
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: cmake, debhelper (>= 9.0), qt5-qmake, qtbase5-dev
Standards-Version: 4.6.1

Package: cg3ide
Architecture: any
Depends: cg3 (>= 1.3.9), ${misc:Depends}, ${shlibs:Depends}
Description: IDE for CG-3
 IDE for developing and debugging CG-3 grammars.
