Source: trie-tools
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0),
               libboost-dev,
               libgoogle-perftools-dev
Standards-Version: 4.5.0

Package: trie-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tools for creating and working with tries
 Tools for creating, browsing, printing, and working with tries for various
 purposes such as spell checking, title browsing, tokenization, etc.
