Source: apertium-kaa
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               autotools-dev,
               cg3,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               hfst,
               libhfst42-dev,
               locales,
               pkg-config (>= 0.21)
Standards-Version: 3.9.6
Homepage: http://apertium.org/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium-kaa.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-kaa.git

Package: apertium-kaa
Architecture: all
Depends: apertium (>= 3.4), cg3, hfst, ${misc:Depends}, ${shlibs:Depends}
Description: Apertium single language data for Kara-Kalpak
 Data package providing Apertium language resources for Kara-Kalpak
