Source: apertium
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: autoconf,
               autotools-dev,
               debhelper (>= 9.0),
               dh-autoreconf,
               dh-exec (>= 0.3),
               flex (>= 2.5.33),
               libpcre3-dev,
               libxml2-dev,
               libxml2-utils (>= 2.6.24),
               lttoolbox-dev (>= 3.3),
               pkg-config (>= 0.20),
               xsltproc (>= 1.1.16)
Standards-Version: 3.9.6
Homepage: http://apertium.org/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium.git

Package: apertium
Architecture: any
Depends: libxml2-utils (>= 2.6.24),
         lttoolbox (>= 3.3),
         xsltproc (>= 1.1.16),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Shallow-transfer machine translation engine
 An open-source shallow-transfer machine translation
 engine, Apertium is initially aimed at related-language pairs.
 .
 It uses finite-state transducers for lexical processing,
 hidden Markov models for part-of-speech tagging, and
 finite-state based chunking for structural transfer.
 .
 The system is largely based upon systems already developed by
 the Transducens  group at the Universitat d'Alacant, such as
 interNOSTRUM (Spanish-Catalan, http://www.internostrum.com/welcome.php)
 and Traductor Universia (Spanish-Portuguese,
 http://traductor.universia.net).
 .
 It will be possible to use Apertium to build machine translation
 systems for a variety of related-language pairs simply providing
 the linguistic data needed in the right format.

Package: libapertium3-3.3-0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libapertium
Conflicts: libapertium, libapertium3
Replaces: libapertium, libapertium3
Description: Shared library for Apertium
 Contains shared library for the Apertium shallow-transfer
 machine translation engine.

Package: apertium-dev
Architecture: any
Depends: apertium (= ${binary:Version}),
         libpcre3-dev,
         libxml2-dev,
         lttoolbox-dev (>= 3.3),
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: libapertium3-dev
Replaces: libapertium3-dev
Description: Development tools and library for Apertium
 Contains development files for the Apertium shallow-transfer
 machine translation engine.

Package: apertium-all-dev
Architecture: all
Depends: apertium-dev, apertium-lex-tools, cg3, hfst, libhfst-dev
Description: Metapackage for all tools required for Apertium development
 A metapackage to get all tools required for development of Apertium
 languages and pairs, such as lttoolbox, apertium, apertium-lex-tools,
 cg3, and hfst.

Package: apertium-all-languages
Architecture: all
Depends: apertium-hbs, apertium-hin, apertium-kaz, apertium-tat, apertium-urd
Description: Metapackage for all Apertium single languages
 A metapackage to get all Apertium single language analyzers and generators

Package: apertium-all-pairs
Architecture: all
Depends: apertium-af-nl,
         apertium-br-fr,
         apertium-ca-it,
         apertium-cy-en,
         apertium-dan-nor,
         apertium-en-ca,
         apertium-en-es,
         apertium-en-gl,
         apertium-eo-ca,
         apertium-eo-en,
         apertium-eo-es,
         apertium-es-an,
         apertium-es-ast,
         apertium-es-ca,
         apertium-es-gl,
         apertium-es-it,
         apertium-es-pt,
         apertium-es-ro,
         apertium-eu-en,
         apertium-eu-es,
         apertium-fr-ca,
         apertium-fr-es,
         apertium-hbs-eng,
         apertium-hbs-mkd,
         apertium-hbs-slv,
         apertium-id-ms,
         apertium-is-sv,
         apertium-isl-eng,
         apertium-kaz-tat,
         apertium-mk-bg,
         apertium-mk-en,
         apertium-mt-ar,
         apertium-oc-ca,
         apertium-oc-es,
         apertium-pt-ca,
         apertium-pt-gl,
         apertium-sv-da,
         apertium-urd-hin
Description: Metapackage for all Apertium translation pairs
 A metapackage to get all Apertium translation pairs
