Source: apertium-nhw
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.3), apertium-regtest, cg3, debhelper (>= 12), gawk, hfst, libcg3-dev, libhfst-dev, pkg-config, zip
Standards-Version: 4.7.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-nhw.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-nhw
Rules-Requires-Root: no

Package: apertium-nhw
Architecture: all
Depends: apertium (>= 3.8.3), cg3, hfst, ${misc:Depends}, ${shlibs:Depends}
Description: Apertium single language data for Western Huasteca Nahuatl
 Data package providing Apertium language resources for Western Huasteca Nahuatl
