Source: apertium-mlt-heb
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               apertium-heb,
               apertium-lex-tools,
               apertium-mlt,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-mlt-heb.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-mlt-heb
Rules-Requires-Root: no

Package: apertium-mlt-heb
Architecture: all
Depends: apertium (>= 3.6.0),
         apertium-lex-tools,
         cg3,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-heb-mlt
Conflicts: apertium-heb-mlt
Description: Apertium translation data for the Maltese-Hebrew pair
 Data package providing Apertium language resources for translating
 between the Maltese and Hebrew languages.
