Source: apertium-fin-slv
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.9.12), debhelper (>= 12), gawk, pkg-config
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-fin-slv.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-fin-slv
Rules-Requires-Root: no

Package: apertium-fin-slv
Architecture: all
Depends: apertium (>= 3.9.12), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-slv-fin
Conflicts: apertium-slv-fin
Description: Apertium translation data for the Finnish-Slovenian pair
 Data package providing Apertium language resources for translating
 between the Finnish and Slovenian languages.
