Source: apertium-fao-nor
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               apertium-lex-tools,
               apertium-nno,
               apertium-nob,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               giella-fao,
               hfst,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-fao-nor.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-fao-nor.git
Rules-Requires-Root: no

Package: apertium-fao-nor
Architecture: all
Depends: apertium (>= 3.6.0),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-nor-fao
Conflicts: apertium-nor-fao
Description: Apertium translation data for the Faroese-Norwegian pair
 Data package providing Apertium language resources for translating
 between the Faroese and Norwegian languages.
