Source: apertium-es-it
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (=> 3.4),
               autotools-dev,
               debhelper (>= 8.0),
               dh-autoreconf,
               gawk,
               locales,
               pkg-config (>= 0.21)
Standards-Version: 3.9.6
Homepage: http://apertium.org/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium-es-it.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-es-it.git

Package: apertium-es-it
Architecture: all
Depends: apertium (=> 3.4), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-it-es
Conflicts: apertium-it-es
Description: Apertium translation data for the Spanish-Italian pair
 Data package providing Apertium language resources for translating
 between the Spanish and Italian languages.
