Source: apertium-srd-ita
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>, Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.5.2),
               apertium-ita (>= 0.10.0~r82237),
               apertium-lex-tools,
               apertium-srd (>= 0.10.0~r82237),
               autotools-dev,
               cg3,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               pkg-config (>= 0.21)
Standards-Version: 4.2.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-srd-ita.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-srd-ita.git

Package: apertium-srd-ita
Architecture: all
Depends: apertium (>= 3.5.2),
         apertium-lex-tools,
         cg3,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-ita-srd
Conflicts: apertium-ita-srd
Description: Apertium translation data for the Sardinian-Italian pair
 Data package providing Apertium language resources for translating
 between the Sardinian and Italian languages.
