Source: foma
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>, Kartik Mistry <kartik@debian.org>
Build-Depends: bison,
               debhelper (>= 9.0),
               flex,
               libreadline-dev,
               libtinfo-dev,
               libtool,
               zlib1g-dev
Standards-Version: 4.5.0
Homepage: https://code.google.com/p/foma/
Vcs-Git: https://salsa.debian.org/science-team/foma.git
Vcs-Browser: https://salsa.debian.org/science-team/foma.git
Rules-Requires-Root: no

Package: foma
Architecture: any
Depends: libfoma0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Tools for constructing various finite-state automata
 Compiler, programming language, and C library for
 constructing finite-state automata and transducers for various uses.

Package: foma-bin
Architecture: any
Depends: foma (= ${binary:Version}),
         libfoma0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Priority: extra
Section: oldlibs
Description: Transitional dummy package for foma
 This is a transitional dummy package. It can safely be removed.

Package: libfoma0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Foma runtime libraries
 Runtime libraries for foma

Package: libfoma0-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libfoma0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Foma development files
 Development headers and libraries for foma
