Source: apertium-khk-kaz
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.0),
               apertium-kaz,
               apertium-khk,
               apertium-lex-tools,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-khk-kaz.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-khk-kaz
Rules-Requires-Root: no

Package: apertium-khk-kaz
Architecture: all
Depends: apertium (>= 3.6.0),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-kaz-khk
Conflicts: apertium-kaz-khk
Description: Apertium translation data for the Halh Mongolian-Kazakh pair
 Data package providing Apertium language resources for translating
 between the Halh Mongolian and Kazakh languages.
