Source: giella-core
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.4.1
Homepage: http://giellatekno.uit.no/
Vcs-Git: https://salsa.debian.org/science-team/giella-core.git
Vcs-Browser: https://salsa.debian.org/science-team/giella-core.git

Package: giella-core
Architecture: all
Depends: python, python3, ${misc:Depends}, ${shlibs:Depends}
Description: GTCORE files for building Giellatekno language packages
 All Giellatekno language packages build-depends on this package.
