Source: apertium-es-ast
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               pkg-config (>= 0.21)
Standards-Version: 3.9.6
Homepage: http://apertium.org/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium-es-ast.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-es-ast.git

Package: apertium-es-ast
Architecture: all
Depends: apertium (>= 3.4), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-ast-es
Conflicts: apertium-ast-es
Description: Apertium translation data for the Spanish-Asturian pair
 Data package providing Apertium language resources for translating
 between the Spanish and Asturian languages.
