Source: apertium-swe-dan
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dan (>= 0.6.1),
               apertium-dev (>= 3.9.12),
               apertium-lex-tools-dev (>= 0.5.0),
               apertium-swe (>= 0.8.1),
               cg3-dev (>= 1.5.1),
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-swe-dan.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-swe-dan
Rules-Requires-Root: no

Package: apertium-swe-dan
Architecture: all
Depends: apertium (>= 3.9.12),
         apertium-lex-tools (>= 0.5.0),
         cg3 (>= 1.5.1),
         ${misc:Depends}
Provides: apertium-da-sv, apertium-dan-swe, apertium-sv-da
Conflicts: apertium-da-sv, apertium-dan-swe, apertium-sv-da
Replaces: apertium-da-sv, apertium-sv-da
Description: Apertium translation data for the Swedish-Danish pair
 Data package providing Apertium language resources for translating
 between the Swedish and Danish languages.
