Source: giella-inp
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: bc,
               cg3-dev (>= 1.3.6),
               debhelper (>= 12),
               divvun-gramcheck,
               foma,
               gawk,
               giella-common,
               giella-core,
               hfst (>= 3.16.0),
               libhfst-dev (>= 3.16.0),
               pkg-config,
               python3,
               zip
Standards-Version: 4.6.0
Homepage: https://giellatekno.uit.no/
Vcs-Git: https://salsa.debian.org/science-team/giella-inp.git
Vcs-Browser: https://salsa.debian.org/science-team/giella-inp
Rules-Requires-Root: no

Package: giella-inp
Architecture: all
Depends: cg3 (>= 1.3.6),
         giella-inp-speller (= ${binary:Version}),
         hfst (>= 3.16.0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Giellatekno single language data for Iñapari
 Data package providing Giellatekno language resources for Iñapari

Package: giella-inp-speller
Architecture: all
Depends: ${misc:Depends}
Suggests: cg3 (>= 1.3.6), divvun-gramcheck (>= 0.3.9), hfst-ospell (>= 0.5.3)
Description: Giellatekno spellers for Iñapari
 Data package providing Giellatekno spellers for Iñapari
