Source: apertium-eng-lin
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.0),
               apertium-eng,
               apertium-lex-tools,
               apertium-lin,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-eng-lin.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-eng-lin
Rules-Requires-Root: no

Package: apertium-eng-lin
Architecture: all
Depends: apertium (>= 3.7.0),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-lin-eng
Conflicts: apertium-lin-eng
Description: Apertium translation data for the English-Lingala pair
 Data package providing Apertium language resources for translating
 between the English and Lingala languages.
