Source: apertium-gle-eng
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               apertium-lex-tools,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               giella-gle,
               hfst,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-gle-eng.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-gle-eng
Rules-Requires-Root: no

Package: apertium-gle-eng
Architecture: all
Depends: apertium (>= 3.6.0),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-eng-gle
Conflicts: apertium-eng-gle
Description: Apertium translation data for the Irish-English pair
 Data package providing Apertium language resources for translating
 between the Irish and English languages.
