Source: apertium-fin-est
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.0),
               apertium-lex-tools (>= 0.3.0),
               cg3-dev (>= 1.3.2),
               debhelper (>= 12),
               gawk,
               giella-est-experimental,
               giella-fin,
               hfst (>= 3.15.3),
               pkg-config
Standards-Version: 4.6.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-fin-est.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-fin-est
Rules-Requires-Root: no

Package: apertium-fin-est
Architecture: all
Depends: apertium (>= 3.8.0),
         apertium-lex-tools (>= 0.3.0),
         cg3 (>= 1.3.2),
         hfst (>= 3.15.3),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-est-fin
Conflicts: apertium-est-fin
Description: Apertium translation data for the Finnish-Estonian pair
 Data package providing Apertium language resources for translating
 between the Finnish and Estonian languages.
