Source: libdivvun
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: autotools-dev,
               debhelper (>= 9.0),
               dh-autoreconf,
               dh-python,
               gawk,
               hfst-ospell-dev (>= 0.5.3),
               libarchive-dev,
               libcg3-dev (>= 1.3.6),
               libhfst-dev (>= 3.16.0),
               libpugixml-dev,
               libxml2-utils,
               pkg-config,
               python3-dev,
               python3-setuptools,
               swig,
               zip
Standards-Version: 4.6.0
Homepage: https://github.com/divvun/divvun-gramcheck
Vcs-Git: https://anonscm.debian.org/collab-maint/divvun-gramcheck.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/divvun-gramcheck.git;a=summary
Rules-Requires-Root: no

Package: divvun-gramcheck
Architecture: any
Depends: libxml2-utils, ${misc:Depends}, ${shlibs:Depends}
Provides: libdivvun-tools, libdivvun-bin
Description: Grammar checker tools for Divvun languages
 Helper tools for grammar checking for Divvun languages

Package: libdivvun0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libdivvun0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Provides: libdivvun
Conflicts: libdivvun
Replaces: libdivvun
Description: Runtime for Divvun grammar checker
 Runtime library for applications using the Divvun grammar checker API.

Package: libdivvun-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Pre-Depends: ${misc:Pre-Depends}
Depends: libdivvun0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Headers and shared files to develop using the Divvun grammar checker library
 Development files to use the Divvun grammar checker API.

Package: python3-libdivvun
Architecture: any
Section: python
Provides: ${python3:Provides}
Depends: libdivvun0 (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Runtime for Divvun grammar checker (Python 3 module)
 Python 3 module for applications using the Divvun grammar checker API.
