Source: apertium-nci-nhi
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               apertium-lex-tools,
               apertium-nci,
               apertium-nhi,
               apertium-separable,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               libhfst-dev,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-nci-nhi.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-nci-nhi
Rules-Requires-Root: no

Package: apertium-nci-nhi
Architecture: all
Depends: apertium (>= 3.6.0),
         apertium-lex-tools,
         apertium-separable,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-nhi-nci
Conflicts: apertium-nhi-nci
Description: Apertium translation data for the Classical Nahuatl-Zacatlán-Ahuacatlán-Tepetzintla Nahuatl pair
 Data package providing Apertium language resources for translating
 between the Classical Nahuatl and Zacatlán-Ahuacatlán-Tepetzintla Nahuatl languages.
