Source: apertium-init
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: debhelper (>= 9), python3
Standards-Version: 4.6.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-init.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-init
Rules-Requires-Root: no

Package: apertium-init
Architecture: all
Depends: apertium-dev (>= 3.8.1), python3, ${misc:Depends}
Description: Helper to create Apertium languages and pairs
 Helper to create and re-create Apertium languages and pairs
