Source: apertium-eng-afr
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0), debhelper (>= 12), gawk, pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-eng-afr.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-eng-afr
Rules-Requires-Root: no

Package: apertium-eng-afr
Architecture: all
Depends: apertium (>= 3.6.0), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-afr-eng
Conflicts: apertium-afr-eng
Description: Apertium translation data for the LANG1-LANG2 pair
 Data package providing Apertium language resources for translating
 between the LANG1 and LANG2 languages.
