#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS
export LC_ALL=C.UTF-8

%:
	dh $@ --fail-missing --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DBUNDLED_XXHASH=ON -DCMAKE_BUILD_RPATH_USE_ORIGIN=ON
