Source: apertium-sma-nob
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.3),
               apertium-lex-tools-dev (>= 0.4.2),
               apertium-nob,
               cg3-dev (>= 1.3.9),
               debhelper (>= 12),
               gawk,
               giella-sma,
               hfst (>= 3.16.0),
               pkg-config
Standards-Version: 4.6.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-sma-nob.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-sma-nob
Rules-Requires-Root: no

Package: apertium-sma-nob
Architecture: all
Depends: apertium (>= 3.8.3),
         apertium-lex-tools (>= 0.4.2),
         cg3 (>= 1.3.9),
         hfst (>= 3.16.0),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-nob-sma
Conflicts: apertium-nob-sma
Description: Apertium translation data for the Southern Sami-Norwegian Bokmål pair
 Data package providing Apertium language resources for translating
 between the Southern Sami and Norwegian Bokmål languages.
