Source: apertium-sme-sma
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               apertium-lex-tools,
               autotools-dev,
               cg3,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               giella-sma,
               giella-sme,
               hfst,
               locales,
               pkg-config (>= 0.21)
Standards-Version: 3.9.6
Homepage: http://apertium.org/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium-sme-sma.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-sme-sma.git

Package: apertium-sme-sma
Architecture: all
Depends: apertium (>= 3.4),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-sma-sme
Conflicts: apertium-sma-sme
Description: Apertium translation data for the North Saami-Southern Saami pair
 Data package providing Apertium language resources for translating
 between the North Saami and Southern Saami languages.
