Source: giella-sms
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: bc,
               cg3-dev,
               debhelper (>= 12),
               divvun-gramcheck,
               foma,
               gawk,
               giella-common,
               giella-core,
               hfst,
               libhfst-dev,
               pkg-config,
               python3,
               zip
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/giella-sms.git
Vcs-Browser: https://salsa.debian.org/science-team/giella-sms.git
Rules-Requires-Root: no

Package: giella-sms
Architecture: all
Depends: cg3, hfst, ${misc:Depends}, ${shlibs:Depends}
Description: Giellatekno single language data for Skolt Saami
 Data package providing Giellatekno language resources for Skolt Saami
