Source: apertium-guc-spa
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.1),
               apertium-lex-tools-dev (>= 0.3.1),
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.6.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-guc-spa.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-guc-spa
Rules-Requires-Root: no

Package: apertium-guc-spa
Architecture: all
Depends: apertium (>= 3.8.1),
         apertium-lex-tools (>= 0.3.1),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-spa-guc
Conflicts: apertium-spa-guc
Description: Apertium translation data for the Wayuu-Spanish pair
 Data package providing Apertium language resources for translating
 between the Wayuu and Spanish languages.
