Source: apertium-fin-olo
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               apertium-fin,
               apertium-lex-tools,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               giella-olo,
               hfst,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-fin-olo.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-fin-olo
Rules-Requires-Root: no

Package: apertium-fin-olo
Architecture: all
Depends: apertium (>= 3.6.0),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-olo-fin
Conflicts: apertium-olo-fin
Description: Apertium translation data for the Finnish-Livvi pair
 Data package providing Apertium language resources for translating
 between the Finnish and Livvi languages.
