Source: apertium-recursive
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.0),
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               libxml2-dev,
               lttoolbox-dev (>= 3.5.3),
               pkg-config,
               python3
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-recursive.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-recursive
Rules-Requires-Root: no

Package: apertium-recursive
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Apertium recursive structural transfer module
 This package provides Apertium module for recursive
 structural transfer.
