Source: apertium-fr-es
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>
Build-Depends: debhelper (>= 8.0), locales, dh-autoreconf, autotools-dev, apertium (>= 3.3), libapertium3-3.3-dev, pkg-config (>= 0.21), apertium-lex-tools, gawk
Standards-Version: 3.9.5
Homepage: http://apertium.org/

Package: apertium-fr-es
Architecture: all
Depends: apertium (>= 3.3), apertium-lex-tools, ${shlibs:Depends}, ${misc:Depends}
Provides: apertium-es-fr
Conflicts: apertium-es-fr
Description: Apertium translation data for the French-Spanish pair
 Data package providing Apertium language resources for translating
 between the French and Spanish languages.
