Source: apertium-fr-es
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               apertium-lex-tools,
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               gawk,
               pkg-config (>= 0.21)
Standards-Version: 3.9.8
Homepage: http://apertium.org/
Vcs-Git: https://anonscm.debian.org/cgit/debian-science/packages/apertium-fr-es.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-fr-es.git

Package: apertium-fr-es
Architecture: all
Depends: apertium (>= 3.4),
         apertium-lex-tools,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-es-fr
Conflicts: apertium-es-fr
Description: Apertium translation data for the French-Spanish pair
 Data package providing Apertium language resources for translating
 between the French and Spanish languages.
