Source: giella-est-experimental
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: autotools-dev,
               bc,
               cg3,
               debhelper (>= 9),
               dh-autoreconf,
               dh-exec,
               divvun-gramcheck,
               foma,
               gawk,
               giella-common,
               giella-core,
               hfst,
               libhfst-dev,
               pkg-config (>= 0.21),
               python3 (>= 3.1),
               zip
Standards-Version: 4.2.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/giella-est.git
Vcs-Browser: https://salsa.debian.org/science-team/giella-est.git

Package: giella-est-experimental
Architecture: all
Depends: cg3, hfst, ${misc:Depends}, ${shlibs:Depends}
Provides: giella-est
Conflicts: giella-est
Description: Giellatekno single language data for Estonian
 Data package providing Giellatekno language resources for Estonian
