Source: apertium-fin-swe
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.0),
               apertium-fin,
               apertium-lex-tools,
               apertium-swe,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-fin-swe.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-fin-swe
Rules-Requires-Root: no

Package: apertium-fin-swe
Architecture: all
Depends: apertium (>= 3.7.0),
         apertium-lex-tools,
         cg3,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-swe-fin
Conflicts: apertium-swe-fin
Description: Apertium translation data for the Finnish-Swedish pair
 Data package providing Apertium language resources for translating
 between the Finnish and Swedish languages.
