Source: tdc-proof
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: cmake (>= 3.0),
               debhelper (>= 9.0),
               hfst-ospell-dev,
               pkg-config
Standards-Version: 4.4.0

Package: tdc-proof
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Wrappers to integrate HFST-based proofing tools with frontends
 Proofing tool wrappers for HFST-based spellers, hyphenators,
 and grammar checkers
