Source: apertium-cym-eng
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-cym,
               apertium-dev (>= 3.7.1),
               apertium-eng,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-cy-en.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-cy-en
Rules-Requires-Root: no

Package: apertium-cym-eng
Architecture: all
Depends: apertium (>= 3.7.1), cg3, ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-cym-eng, apertium-en-cy, apertium-eng-cym
Conflicts: apertium-cym-eng, apertium-en-cy, apertium-eng-cym
Description: Apertium translation data for the Welsh-English pair
 Data package providing Apertium language resources for translating
 between the Welsh and English languages.

Package: apertium-cy-en
Architecture: all
Depends: apertium-cym-eng (= ${binary:Version}), ${misc:Depends}
Priority: extra
Section: oldlibs
Description: Transitional dummy package for apertium-cym-eng
 This is a transitional dummy package. It can safely be removed.
