Source: apertium-sv-da
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium (>= 3.3),
               autotools-dev,
               debhelper (>= 8.0),
               dh-autoreconf,
               gawk,
               libapertium3-3.3-dev,
               locales,
               pkg-config (>= 0.21)
Standards-Version: 3.9.6
Homepage: http://apertium.org/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium-sv-da.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-sv-da.git

Package: apertium-sv-da
Architecture: all
Depends: apertium (>= 3.3), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-da-sv
Conflicts: apertium-da-sv
Description: Apertium translation data for the Swedish-Danish pair
 Data package providing Apertium language resources for translating
 between the Swedish and Danish languages.
