Source: apertium-oci-fra
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.5.2),
               apertium-fra,
               apertium-lex-tools,
               apertium-oci,
               cg3,
               debhelper (>= 11),
               gawk,
               pkg-config (>= 0.21)
Standards-Version: 4.3.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-oci-fra.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-oci-fra.git

Package: apertium-oci-fra
Architecture: all
Depends: apertium (>= 3.5.2),
         apertium-lex-tools,
         cg3,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-fra-oci
Conflicts: apertium-fra-oci
Description: Apertium translation data for the Occitan-French pair
 Data package providing Apertium language resources for translating
 between the Occitan and French languages.
