Source: apertium-oci-fra
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.9.12),
               apertium-fra (>= 1.12.0),
               apertium-lex-tools-dev (>= 0.5.0),
               apertium-oci (>= 1.0.0),
               apertium-regtest,
               apertium-separable (>= 0.7.1),
               cg3-dev (>= 1.5.1),
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-oci-fra.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-oci-fra
Rules-Requires-Root: no

Package: apertium-oci-fra
Architecture: all
Depends: apertium (>= 3.9.12),
         apertium-lex-tools (>= 0.5.0),
         apertium-separable (>= 0.7.1),
         cg3 (>= 1.5.1),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-fra-oci
Conflicts: apertium-fra-oci
Description: Apertium translation data for the Occitan-French pair
 Data package providing Apertium language resources for translating
 between the Occitan and French languages.
