Source: apertium-yua
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.9.12), debhelper (>= 12), gawk, pkg-config
Standards-Version: 4.7.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-yua.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-yua
Rules-Requires-Root: no

Package: apertium-yua
Architecture: all
Depends: apertium (>= 3.9.12), ${misc:Depends}, ${shlibs:Depends}
Description: Apertium single language data for Yucateco
 Data package providing Apertium language resources for Yucateco
