Source: apertium-es-an
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>
Build-Depends: debhelper (>= 8.0), locales, dh-autoreconf, autotools-dev, apertium (>= 3.3), libapertium3-3.3-dev, pkg-config (>= 0.21), gawk
Standards-Version: 3.9.5
Homepage: http://apertium.org/

Package: apertium-es-an
Architecture: all
Depends: apertium (>= 3.3), ${shlibs:Depends}, ${misc:Depends}
Provides: apertium-an-es
Conflicts: apertium-an-es
Description: Apertium translation data for the Spanish-Aragonese pair
 Data package providing Apertium language resources for translating
 between the Spanish and Aragonese languages.
