Source: apertium-ind-zlm
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.5.2),
               apertium-ind,
               apertium-zlm,
               debhelper (>= 11),
               gawk,
               pkg-config
Standards-Version: 4.3.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-ind-zlm.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-ind-zlm.git

Package: apertium-ind-zlm
Architecture: all
Depends: apertium (>= 3.5.2), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-zlm-ind
Description: Apertium translation data for the Indonesian-Malay pair
 Data package providing Apertium language resources for translating
 between the Indonesian and Malay languages.

Package: apertium-id-ms
Architecture: all
Depends: apertium-ind-zlm (= ${binary:Version}), ${misc:Depends}
Provides: apertium-ms-id
Priority: extra
Section: oldlibs
Description: Transitional dummy package for apertium-ind-zlm
 This is a transitional dummy package. It can safely be removed.
