Source: apertium-apy
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Kartik Mistry <kartik@debian.org>,
           Tino Didriksen <tino@didriksen.cc>
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.1~),
               python3-dev (>= 3.2),
               sqlite3
Standards-Version: 3.9.8
Homepage: http://apertium.org
Vcs-Git: git://anonscm.debian.org/debian-science/packages/apertium-apy.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-apy.git

Package: apertium-apy
Architecture: all
Depends: adduser,
         apertium (>= 3.4),
         apertium-lex-tools,
         logrotate,
         python3 (>= 3.2),
         python3-lxml,
         python3-pip,
         python3-tornado (>= 3.1),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Apertium APY service
 This package contains Apertium APY which is simple Apertium
 API written in Python 3 meant as a drop-in replacement for
 ScaleMT.
