Source: apertium-deu-dan
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dan,
               apertium-deu,
               apertium-dev (>= 3.8.3),
               apertium-lex-tools-dev (>= 0.4.2),
               cg3-dev (>= 1.3.9),
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.6.2
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-deu-dan.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-deu-dan
Rules-Requires-Root: no

Package: apertium-deu-dan
Architecture: all
Depends: apertium (>= 3.8.3),
         apertium-lex-tools (>= 0.4.2),
         cg3 (>= 1.3.9),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-dan-deu
Conflicts: apertium-dan-deu
Description: Apertium translation data for the German-Danish pair
 Data package providing Apertium language resources for translating
 between the German and Danish languages.
