Source: lttoolbox-java
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: ant,
               make,
               debhelper (>= 9.0),
               devscripts,
               default-jdk
Standards-Version: 4.0.0
Homepage: http://apertium.org/
Vcs-Git: https://anonscm.debian.org/cgit/debian-science/packages/lttoolbox-java.git
Vcs-Browser: http://anonscm.debian.org/cgit/debian-science/packages/lttoolbox-java.git

Package: lttoolbox-java
Architecture: all
Depends: default-jre-headless, ${misc:Depends}
Description: Apertium lexical processing modules and tools (Java port)
 The lttoolbox-java contains the augmented letter transducer tools for natural
 language processing used by Apertium, a platform for building rule-based
 and hybrid machine translation systems. The software is also useful
 for making morphological analysers and generators for natural language
 processing applications.
