Source: apertium-bg-en
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.1), debhelper (>= 12), gawk, pkg-config
Standards-Version: 4.6.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-bg-en.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-bg-en
Rules-Requires-Root: no

Package: apertium-bg-en
Architecture: all
Depends: apertium (>= 3.8.1), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-en-bg
Conflicts: apertium-en-bg
Description: Apertium translation data for the Bulgarian-English pair
 Data package providing Apertium language resources for translating
 between the Bulgarian and English languages.
