Source: apertium-skr-urd
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.3), debhelper (>= 12), gawk, pkg-config
Standards-Version: 4.7.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-skr-urd.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-skr-urd
Rules-Requires-Root: no

Package: apertium-skr-urd
Architecture: all
Depends: apertium (>= 3.8.3), ${misc:Depends}, ${shlibs:Depends}
Provides: apertium-urd-skr
Conflicts: apertium-urd-skr
Description: Apertium translation data for the Saraiki-Urdu pair
 Data package providing Apertium language resources for translating
 between the Saraiki and Urdu languages.
