Source: apertium-qwh
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.8.3), debhelper (>= 12), gawk, pkg-config
Standards-Version: 4.7.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-qwh.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-qwh
Rules-Requires-Root: no

Package: apertium-qwh
Architecture: all
Depends: apertium (>= 3.8.3), ${misc:Depends}, ${shlibs:Depends}
Description: Apertium single language data for Huaylas Ancash Quechua
 Data package providing Apertium language resources for Huaylas Ancash Quechua
