Source: apertium-quc-spa
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-anaphora,
               apertium-dev (>= 3.7.1),
               apertium-lex-tools,
               apertium-quc,
               apertium-recursive,
               apertium-separable,
               apertium-spa,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-quc-spa.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-quc-spa
Rules-Requires-Root: no

Package: apertium-quc-spa
Architecture: all
Depends: apertium (>= 3.7.1),
         apertium-anaphora,
         apertium-lex-tools,
         apertium-recursive,
         apertium-separable,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-spa-quc
Conflicts: apertium-spa-quc
Description: Apertium translation data for the Kiche-Spanish pair
 Data package providing Apertium language resources for translating
 between the Kiche and Spanish languages.
