Source: apertium-lex-tools
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.4),
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               libxml2-dev,
               libxml2-utils,
               pkg-config (>= 0.21),
               zlib1g-dev
Standards-Version: 3.9.8
Homepage: http://apertium.org/
Vcs-Git: https://anonscm.debian.org/cgit/debian-science/packages/apertium-lex-tools.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/apertium-lex-tools.git

Package: apertium-lex-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Constraint-based lexical selection module
 This package provides a module for compiling lexical selection rules and
 processing them in the pipeline.
