Source: apertium-lex-tools
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Tino Didriksen <mail@tinodidriksen.com>
Build-Depends:
	autoconf,
	autotools-dev,
	debhelper (>= 9.0),
	dh-autoreconf,
	flex (>= 2.5.33),
	gawk,
	libapertium3-3.3-dev,
	liblttoolbox3-3.3-dev,
	libpcre3-dev,
	libxml2-dev,
	libxml2-utils,
	libxml2-utils (>= 2.6.24),
	pkg-config (>= 0.20),
	xsltproc (>= 1.1.16),
	zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://apertium.org/

Package: apertium-lex-tools
Architecture: any
Depends:
	${misc:Depends},
	${shlibs:Depends}
Description: Constraint-based lexical selection module
 Constraint-based lexical selection module used by Apertium
