Source: apertium-gp
Section: translators
Priority: optional
Maintainer: Denys Senkin <denisx9.0c@gmail.com>
Build-Depends: debhelper (>= 9), qt5-qmake, qtbase5-dev, qtbase5-dev-tools
Standards-Version: 4.6.2
Homepage: https://apertium.org/

Package: apertium-gp
Architecture: any
Depends: liblist-moreutils-perl, perl, ${misc:Depends}, ${shlibs:Depends}
Description: Apertium-GP is a GUI for Apertium translator.
 It is test build
