Source: apertium-udm-kpv
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.6.0),
               apertium-lex-tools,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               giella-kpv,
               giella-udm,
               hfst,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-udm-kpv.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-udm-kpv
Rules-Requires-Root: no

Package: apertium-udm-kpv
Architecture: all
Depends: apertium (>= 3.6.0),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-kpv-udm
Conflicts: apertium-kpv-udm
Description: Apertium translation data for the LANG1-LANG2 pair
 Data package providing Apertium language resources for translating
 between the LANG1 and LANG2 languages.
