Source: apertium-uig-tur
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.1),
               apertium-lex-tools,
               apertium-tur,
               apertium-uig,
               cg3-dev,
               debhelper (>= 12),
               gawk,
               hfst,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-uig-tur.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-uig-tur
Rules-Requires-Root: no

Package: apertium-uig-tur
Architecture: all
Depends: apertium (>= 3.7.1),
         apertium-lex-tools,
         cg3,
         hfst,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-tur-uig
Conflicts: apertium-tur-uig
Description: Apertium translation data for the Uighur-Turkish pair
 Data package providing Apertium language resources for translating
 between the Uighur and Turkish languages.
