Source: apertium-eng-pes
Section: science
Priority: optional
Maintainer: Debian Science Team <debian-science-maintainers@alioth-lists.debian.net>
Uploaders: Tino Didriksen <tino@didriksen.cc>,
           Kartik Mistry <kartik@debian.org>
Build-Depends: apertium-dev (>= 3.7.1),
               apertium-eng,
               apertium-lex-tools (>= 0.2.7),
               apertium-pes,
               cg3-dev (>= 1.3.2),
               debhelper (>= 12),
               gawk,
               pkg-config
Standards-Version: 4.5.1
Homepage: https://apertium.org/
Vcs-Git: https://salsa.debian.org/science-team/apertium-eng-pes.git
Vcs-Browser: https://salsa.debian.org/science-team/apertium-eng-pes
Rules-Requires-Root: no

Package: apertium-eng-pes
Architecture: all
Depends: apertium (>= 3.7.1),
         apertium-lex-tools (>= 0.2.7),
         cg3 (>= 1.3.2),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: apertium-pes-eng
Conflicts: apertium-pes-eng
Description: Apertium translation data for the English-Persian pair
 Data package providing Apertium language resources for translating
 between the English and Persian languages.
